.gigs {
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    width: 1400px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .breadcrumbs {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 13px;
      color: var(--text-color);
    }

    h1 {
    }

    p {
      color: rgba(31,41,55,0.6);
      font-weight: 300;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      .left {
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--text-color);
      font-weight: 300;

          input{
          padding: 5px;
          border: 1px solid rgba(0,0,0,0.06);
          border-radius: 5px;
          outline: none;

          &::placeholder{
            color: rgba(31,41,55,0.45);
          }
        }

        button{
          padding: 5px 10px;
          background-color: var(--primary-color);
          color: white;
          border: none;
          font-weight: 500;
          border-radius: 5px;
          cursor: pointer;
        }

      }

          .right {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;

        .sortBy {
          color: var(--text-color);
          font-weight: 300;
        }

        .sortType {
          font-weight: 500;
        }

        img {
          width: 15px;
          cursor: pointer;
        }

        .rightMenu {
          padding: 20px;
          background-color: white;
          border: 0.5px solid rgba(0,0,0,0.06);
          border-radius: 5px;
          position: absolute;
          top: 30px;
          right: 0;
          z-index: 9;
          display: flex;
          flex-direction: column;
          gap: 20px;
          color: var(--text-color);

          span {
            cursor: pointer;
          }
        }
      }
    }

    .cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
